.App {
  text-align: center;
}

.d {
  position: relative;
    background: rgb(106, 211, 102)  center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}
.p {
  padding-left: 40px;
  padding-top: 100px;
  font-size: 50px;
}
.P {
  padding-left: 40px;
  font-size: 50px;
}

.button1 {
  padding-left: 40px;
  margin-left: 40px;
  width: 40%;
  
}

.descripsi {
  padding-left: 40px;
  padding-right: 280px;
  font-size: 20px;
}

.img {
  padding-right: 40px;
  padding-top: 100px;
}

.image {
  padding-left: 50px;
  padding-top: 80px;
}
.col {
  padding: 50px;
  padding-top: 50px;
}
.desc {
  padding-top: 100px;
}
.logo {
  padding-top: 100px;
}
.program {
  padding: 20px;
}
.B {
  margin-left: 15px;
  margin-right: 15px;
}
.judul {
  font-size: 25px;
  text-align: center;
  padding-top: 30px;
  padding: 30px;
}
.Card {
  width: 200px;
  height: 250px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
